# Jupyter
.ipynb_checkpoints/

.vscode/

# Python
__pycache__/
*.pyc
.env
.mplconfig/

# Virtual Environment
tf_metal_env/

models/

data/*
!data/preprocessing_summary.json
!data/container_metadata.parquet
# macOS
.DS_Store

experiments/**/hybrid_gru.keras
experiments/**/residual_stats.pkl

experiments/**/*.pdf

experiments/**/.ipynb_checkpoints/

build/
dist/

production/hybrid/predictions/
