# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.env

# Virtual Environment
tf_metal_env/

models/

data/*
!data/preprocessing_summary.json
!data/container_metadata.parquet
# macOS
.DS_Store